---
layout: layouts/base.njk
---
<div id="wrapper">
	<div id="side">
		{%- for item in navigation -%}

		<a href="{{ item.link | url }}">{{ item.text }} </a> <br/>

		{%- endfor -%}
	</div>

	<div id="content">
		{{ content | safe }}
	</div>
</div>
